<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Web App</title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body onload = "connectChat()">
    <div class="menu-closed">

        <!-- Side Menu -->
        <div id="side-menu" class="side-menu">
        </div>
    
        <!-- Content Area -->
        <div id="content">
            <span id="menu-button" onclick="toggleMenu()">&#9776;</span>
        </div>
    
        
    </div>
    <div class="chat-container">
        <div class="video-container">
            <!-- User's video -->
            <div class="video">
                <!-- Replace with actual video element or iframe -->
                <video autoplay></video>
            </div>
            <!-- Recipient's video -->
            <div class="video">
                <!-- Replace with actual video element or iframe -->
                <video autoplay></video>
            </div>
        </div>
        <div class="chat">
            <div class="chat-messages">
                <!-- Chat messages will be displayed here -->
                <div id="message" class="message">
                    <!-- <div class="message-sender">Sender</div>
                    <div class="message-text">Hello!</div> -->
                </div>
                <!-- Add more message divs as needed -->
            </div>
            <div class="message-input">
                <textarea id="message-input" name="message" placeholder="Type your message..."></textarea>
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
const users = <%- JSON.stringify(users) %>;
</script>
<script src ="scripts/chat.js">
    
</script>
<script src = "scripts/webSocket.js"></script>
</html>
